/* 余白をリセット */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:sans-serif;

    line-height:1.8;

    color:#333;

}

header{

    background:#9264c7;

    color:white;

    padding:30px;

}

main{

    max-width:1000px;

    margin:auto;

    padding:40px 20px;

}